extends layout

block content

    form(enctype="multipart/form-data", method="POST", action='/scenario3')
        .file-field.input-field
            .btn.pers-btn.file-btn
                span Fichier CSV
                input(type='file', name='file')
            .file-path-wrapper
                input.file-path.validate(type='text', placeholder='Choisir un fichier' required)
        .pers-div
            button.pers-btn(type='submit')
                | Submit
    .row
        .col.s8
            #view2    
                script.
                    vegaEmbed('#view2', '/graphiques/graphPyramid.json');
        .col.s4
            #view3    
                script.
                    vegaEmbed('#view3', '/graphiques/graphArea.json');
