body {
  font-size: 14px;
  font-family: "Roboto", "Trebuchet MS" !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main { 
  flex: 1 0 auto;
}

a {
  color: #00B7FF;
}

.pers-footer {
  background-color: #0198F1;
  margin-bottom: 0px;
}

.pers-footer-img {
  width: 35%;
}

.pers-navbar {
  height: 80px;
  overflow: hidden;
  margin-bottom: 50px;
}
.pers-navbar li.tab {
  background-color: #0198F1;
  line-height: 80px;
  height: 80px;
}
.pers-navbar li.tab a {
  color: white;
  font-weight: bold;
}
.pers-navbar li.tab a span i {
  padding-right: 0.5em;
}
.pers-navbar li.tab a:focus, .pers-navbar li.tab a:active, .pers-navbar li.tab a:hover {
  background-color: #0076D0;
  color:white;
}

.pers-navbar li.indicator {
  height: 3px;
  background-color: black;
}

.pers-btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  color: white;
  background-color: #0198F1;
  border-right: 10px solid;
  font-family: sans-serif !important;
  line-height: 21px;
  margin-bottom: 20px;
  width: auto !important;
  height: auto !important;
  border: 0;
}

.pers-btn:hover, .pers-btn:focus, .pers-btn:active {
  background-color: #0076D0;
}

.file-btn {
  padding: 0 8px;
}

.pers-div {
  text-align: right;
}

.btn-try {
  background-color: #489ea5;
  border-radius: 3px;
  padding: 4px 10px;
  color: white;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.btn-try:hover {
  background-color: #5eb4bb;
}

.btn-try a {
  color: whitesmoke;
  text-decoration: none;
}

.btn-try:hover a {
  color: white;
}

.pers-tab img {
  height: auto;
  width: 100%;
}

.pers-span {
  margin-top: 2%;
}

.miniview {
  display : none !important;
}

.pers-imgOdd {
  margin-top: 25px;
}

.pers-mesureName {
  color: black !important;
}

#themeForm {
  margin-top: 50%;
}



