body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main { 
  flex: 1 0 auto;
}

a {
  color: #00B7FF;
}

.pers-footer {
  background-color: #0198F1;
  margin-bottom: 0px;
}

.pers-footer-img {
  width: 35%;
}

.pers-navbar {
  height: 80px;
  overflow: hidden;
  margin-bottom: 50px;
}
.pers-navbar li.tab {
  background-color: #0198F1;
  line-height: 80px;
  height: 80px;
}
.pers-navbar li.tab a {
  color: black;
  font-weight: bold;
}
.pers-navbar li.tab a span i {
  padding-right: 0.5em;
}
.pers-navbar li.tab a:focus {
  background-color: #0198F1;
}
.pers-navbar li.tab a:focus.active {
  background-color: #0198F1;
}
.pers-navbar li.tab a.active {
  background-color: #0198F1;
  color: black;
}

.pers-navbar li.tab a:hover {
  color: black;
}

.pers-navbar li.indicator {
  height: 3px;
  background-color: black;
}

.pers-btn {
  background-color: white;
  color: black;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
}
.pers-div {
  text-align: right;
}

.btn-try {
  background-color: #489ea5;
  border-radius: 3px;
  padding: 4px 10px;
  color: white;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.btn-try:hover {
  background-color: #5eb4bb;
}

.btn-try a {
  color: whitesmoke;
  text-decoration: none;
}

.btn-try:hover a {
  color: white;
}

.pers-tab img {
  height: auto;
  width: 100%;
}

.pers-span {
  margin-top: 2%;
}

.miniview {
  display : none !important;
}

.pers-imgOdd {
  margin-top: 25px;
}

.pers-mesureName {
  color: black !important;
}



